<button class="side-bar-button" id="to-home" type="button">
    <a href="/">Home</a>
</button>

<button class="side-bar-button" id="to-create-post" type="button">
    <a href="/create-post">Create post</a>
</button>