body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  text-align: start;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

footer {
  text-align: right;
  color: midnightblue;
}

span {
  color: #191970;
}

img {
  width: 100%;
}

.logo {
  width: 100px;
  display: block;
}

@media (min-width: 481px) {
  h1 {
    font-size: 5rem;
    text-align: left;
    grid-column-start: span 2;
  }

  .tile-image {
    height: 200px;
    float: left;
    width: auto;
    margin-right: 50px;
  }

  .logo {
    width: auto;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    grid-column-start: span 2;
  }

}

