html {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}